*
{
    
}

body {
    text-align: center;
    background-color: rgb(183, 247, 183);
}

.nav
{
    text-align: center;
    
}

.center 
{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}