*
{
    background-color: rgb(247, 212, 183);
}

#nav
{
    background-color: green;
    max-height: fit-content;
}

.center 
{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
